{
  "type": "service_account",
  "project_id": "xxxx-123xx",
  "private_key_id": "xxx",
  "private_key": "xxx\n",
  "client_email": "xxx",
  "client_id": "xxx",
  "auth_uri": "xxx",
  "token_uri": "xxx",
  "auth_provider_x509_cert_url": "xxx",
  "client_x509_cert_url": "xxx"
}
